.home-wrapper {
  width: 100%;
  text-align:end;
  display: grid;
  grid-template-columns: repeat(2,50%);
}

.card-wrapper {
  display: inline-grid;
}

.inner-wrapper {
  padding: 15px;
  height: 100%;
}

.hero-wrapper {
  background-color: #446cbc;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 35%;
  padding: 25px;
}

.hero-img-display {
  width: 50%;
}

.hero-img-display img{
  width: 100%;
}

.header-wrapper {
  width: 50%;
}

nav {
  background-color: #4464b3;
  padding: 20px;
}

.icons-wrapper {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.icon-one {
  margin-right: 10px;
}
