.home-wrapper {
  width: 100%;
  text-align:end;
  display: grid;
  grid-template-columns: repeat(2,50%);
}

.card-wrapper {
  display: inline-grid;
}

.inner-wrapper {
  padding: 15px;
  height: 100%;
}
